/*GENERAL */
.root{
	-fx-background-color: #6e6e6e;
	-fx-font-family: monospace;
	-fx-hgap: 1.0px;
	-fx-vgap: 1.0px;
}

.label{
	-fx-text-fill: #ee416c;
	-fx-graphic-text-gap: 20.0; 
	-fx-wrap-text: true;
}

.button{
	-fx-text-fill: white;
	-fx-background-color: darkgrey;
}

.button:hover{
	-fx-text-fill: white;
	-fx-background-color: #ee416c;
}

.button:pressed{
	-fx-text-fill: white;
	-fx-background-color: #9f0a2f;
}

.imageview{
	-fx-effect: dropshadow(gaussian, #ee416c, 10.0, 0.2, 3.0, 3.0)
}








/******************/
/* Ejercicio concreto*/
#textExerciseLabel{
	-fx-text-fill: #ee416c;
	-fx-graphic-text-gap: 20.0; 
	-fx-wrap-text: true;
	-fx-font-size: 40.0; 
}
.imageview{
	-fx-border-radius: 5.0px;
	fx-border-image-width: 50.0px; 
	-fx-border-color: #ff0000;
}

#nameExerciseLabel{
	-fx-text-fill: #800020;
	-fx-font-size: 40.0; 
	-fx-wrap-text: true;
	-fx-effect: dropshadow(gaussian, #ee416c, 10.0, 0.2, 3.0, 3.0)
}










/***************** */
/*TableView Exercises */
.column-header{
	-fx-size: 50.0;
	-fx-font-size: 15.0;
	-fx-text-fill: #d22d56;
	-fx-effect: dropshadow(gaussian, #ee416c, 10.0, 0.2, 3.0, 3.0);
	-fx-background-color: darkgrey;
	-fx-background-radius: 10.0px;
	-fx-background-insets: 15.0px;
	
}
.table-cell{
	-fx-text-fill: #800020;
	-fx-background-color: transparent;
}
.table-view{
	-fx-background-color: transparent;
	-fx-font-size: 15.0;
	-fx-font-family: Arial, Helvetica, sans-serif;
}
.table-view:row-selection .table-row-cell{
		-fx-background-color: transparent;
		-fx-font-color: white;
		-fx-background-radius: 5.0px;
		-fx-background-insets: 2.0px;
}
.table-view:row-selection .table-row-cell:filled:hover { 
    -fx-background-color: darkgrey;
    -fx-text-fill: white;
}
.table-view:row-selection .table-row-cell:filled:selected { 
    -fx-background-color: white;
    -fx-text-fill: #800020;
}
.table-row-cell:odd {
    -fx-background-color: darkgrey;
}









/* **********/
/* Menu Bar*/
.menu-bar{
	-fx-background-color: transparent;
}
.menu-bar:hover{
	-fx-background-color: transparent;
}
.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
	-fx-background-color: transparent;
}
.text-field{
	-fx-background-color: #ee416c;
	-fx-text-fill: white;
	-fx-text-border: red;
}


/************ */
/*MENU LEFT */
.titled-pane 
{
/*-fx-skin: #ee416c;  */  
-fx-text-fill: #ee416c;
}
.titled-pane:focused 
{
-fx-text-fill: white;
}
.titled-pane > .title 
{
-fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
-fx-background-insets: 0.0, 1.0, 2.0;
-fx-background-radius: 5.0 5.0 0.0 0.0, 4.0 4.0 0.0 0.0, 3.0 3.0 0.0 0.0;
-fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}

.titled-pane:focused > .title 
{
-fx-color: #ee416c;
}

.titled-pane > .title > .arrow-button 
{
-fx-background-color: null;
-fx-background-insets: 0.0;
-fx-background-radius: 0.0;
-fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}

.titled-pane > .title > .arrow-button .arrow 
{
-fx-background-color: #800020;
-fx-background-insets: 1.0 0.0 -1.0 0.0, 0.0;
-fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
-fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane:collapsed > .title > .arrow-button .arrow 
{
-fx-rotate: -90.0;
}

.titled-pane > *.content 
{
-fx-background-color:
-fx-box-border, 
linear-gradient(to bottom, derive(-fx-color,-2.0%), derive(-fx-color,65.0%) 12.0%,      derive(-fx-color,23.0%) 88.0%, derive(-fx-color,50.0%) 99.0%, -fx-box-border);
-fx-background-insets: 0.0, 0.0 1.0 1.0 1.0;
-fx-padding: 0.167em;
 }

.titled-pane:focused > .title > .arrow-button .arrow 
{
-fx-background-color: white;
}


/**CHECKBOX */
.check-box .box {

-fx-background-color: white;
-fx-border-color:grey;
-fx-border-radius:3px; 
}

.check-box:selected .mark {
-fx-background-color: white;
}
.check-box:selected .box {
-fx-background-color: #d22d56;
}

/********** */
/*SCROLLPANE */
.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}
.scroll-pane .vbox{
	-fx-background-color:transparent;
}

/********** */
/*List view */
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#9f0a2f 0%, #9f0a2f 25%, #9f0a2f 75%, #9f0a2f 100%);
    -fx-text-fill: white;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: #F78EA8;
}

.list-cell:odd { /* <=== changed to odd */
    -fx-background-color: #FCC5D3;
}

.list-cell:filled:hover {
    -fx-background-color: #ee416c;
    -fx-text-fill: white;
}

/*TABPANE */
.tab-label {
    -fx-text-fill: #800020;
    -fx-font-size: 20.0; 
}
.tab {
    -fx-background-color: white;
}
.tab:selected {
    -fx-background-color: #ee416c;
}
.tab-pane {
    -fx-background-color: transparent;
}
.tab-pane>*.tab-header-area>*.tab-header-background
{
    -fx-background-color: -fx-outer-border, -fx-text-box-border, transparent;
}
